body {
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  margin: 0;
  line-height: 1.8rem;
}

h1 {
  color: #ffd700;
  font-size: 3em;
}

.btn {
  background-color: #ffd700;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: goldenrod;
}